@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    font-family: 'Bangers', cursive;

}

input {
    all: unset;
  }


.boxesRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.box{
    font-size: 20pt;
    text-align: center;
    width: 48px;
    height: 40px;
    border-radius: 0.25rem;
    border: 1px solid black;
}

.submitButton{
    font-size: 16pt;
    text-align: center;
    margin: 15px;
    padding: 5px;
    width: 60px;
    height: 20px;
    border-radius: 0.25rem;
    border: 1px solid black;
}

.backspaceButton{
    font-size: 16pt;
    text-align: center;
    font-weight: 700;
    margin: 15px;
    padding: 5px;
    width: 60px;
    height: 20px;
    border-radius: 0.25rem;
    border: 1px solid black;
}
.submitRow{
    display: flex;
    align-items: center;
    justify-content: center;
}