@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    font-family: 'Bangers', cursive;

}


input {
    all: unset;
}

.keyboardRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.boxesRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.box {
    font-size: 20pt;
    text-align: center;
    width: 48px;
    height: 40px;
    border-radius: 0.25rem;
    border: 1px solid black;
}

.submitButton {
    background-color: green;
    color: white;
    font-size: 16pt;
    text-align: center;
    margin: 15px;
    padding: 5px;
    width: 60px;
    height: 20px;
    border-radius: 0.25rem;
    padding: 10px;
}

.clearButton {
    color: white;
    font-size: 16pt;
    text-align: center;
    margin: 15px;
    padding: 5px;
    width: 60px;
    height: 20px;
    border-radius: 0.25rem;
    background-color: red;
    padding: 10px;
}

.submitRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Permanent Marker', cursive;
    font-size: 30pt;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    width: 200px;
}

.subtitle {
    font-family: 'Permanent Marker', cursive;
    margin: 0 0 20px 0;
    text-align: center;

}

.listinha{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.tentativasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tentativasRow{
    background-color: rgb(207, 207, 207);
    height: 50px;
    width: 600px;
}

button {
    width: 50px;
    height: 40px;
    font-size: 15pt;
}